@model IEnumerable<StackOverflow.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>StackOverflow</h2>

<p>
    @Html.ActionLink("Ask a question", "Ask")
</p>

<ul class="nav nav-tabs col-md-offset-7">
    <li role="presentation" class="active"><a href="#">Date</a></li>
    <li role="presentation"><a href="#">Votes</a></li>
</ul>
<ul class="list-group row">
    @foreach (var item in Model)
    {
        <li class="list-group-item col-md-9 ">
            <span class="badge badge-info">Answers: @Html.DisplayFor(modelItem => item.AnswersCount)</span>
            <span class="badge badge-warning">Votes: @Html.DisplayFor(modelItem => item.Votes)</span>
            <span class="badge badge-danger">Views: @Html.DisplayFor(modelItem => item.Views)</span>
            @if (item.IsAnswered)
            {
                <span class="badge badge-success">Answered</span>}
            <div>
                @Html.ActionLink(item.Title, "Details", new {id = item.QuestionId})
                asked by @Html.ActionLink(item.OwnerName, "Profile", "Account", new {id = item.OwnerId}, null)
                on @Html.DisplayFor(modelItem => item.CreationDate)
            </div>
        </li>
    }
</ul>
<nav class ="row">
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</nav>
