@model IEnumerable<StackOverflow.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>StackOverflow</h2>

<p>
    @Html.ActionLink("Ask a question", "Ask")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var itemModel in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(itemModel.OwnerName, "Profile", "Account", new { id = itemModel.OwnerId }, null)
            </td>
            <td>
                @Html.ActionLink(itemModel.Title, "Details", new { id = itemModel.QuestionId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemModel.Votes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemModel.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = itemModel.QuestionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = itemModel.QuestionId })
            </td>
        </tr>
    }
</table>*@

<ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item col-md-9 ">
                <span class="badge">@Html.DisplayFor(modelItem => item.Votes)</span>
                <div>
                    @Html.ActionLink(item.Title, "Details", new { id = item.QuestionId })
                    asked by @Html.ActionLink(item.OwnerName, "Profile", "Account", new { id = item.OwnerId }, null)
                    on @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
            </li>
        }
</ul>
